# Diagnozer Mobile App Environment Variables

# The base URL of the Diagnozer Main Backend service.
# For physical devices, replace with your laptop's local network IPv4 address (e.g. 192.168.1.100:8001).
# For iOS Simulators, http://localhost:8001/api/v1 will work out of the box.
# For Android Emulators, http://10.0.2.2:8001/api/v1 is needed.
EXPO_PUBLIC_API_URL=http://localhost:8001/api/v1
